* {
    margin: 0px;
    padding: 0px;
}
/* Inicio/navegaacion */
.header {
    background-color:#3b3a36;
}
.header__item a {
    text-decoration: none;
    font-family: 'Space Grotesk', sans-serif;
    color:#deb928;
    font-size: 20px;
}

/* Main - Galeria */
main {
    background-color:#242320;
    display: flex;
    flex-direction: column;
}

.main__title {
    text-align: center;
    font-size: 65px;
    margin: 50px 0 0 0;
}
/* Inicio bienvenida grids */
.welcome__grid {
    display: grid;
    width: 75vw;
    height: 80vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "card-marvel card-batman card-xmen none card-boba"
                        "card-marvel card-batman card-xmen card-boba"
                        "card-crypt card-venom card-mandalorian card-spider"
                        "card-crypt card-venom card-mandalorian card-spider";
    align-self: center;
    margin: 50px 0 50px 0;
    column-gap: 25px;
    row-gap: 15px;
}

.card-marvel {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url(../resources/card-marvel.jpg);
    background-size:contain;
    background-position: center;
    background-repeat: repeat;
}
.card-crypt {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
    background-image: url(../resources/card-crypt.jpg);
    background-position:center;
    background-size:contain;
    background-repeat: repeat;
}

.card-batman {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url(../resources/card-batman.jpg);
    background-position:center;
    background-size:contain;
    background-repeat: repeat;
}

.card-xmen {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url(../resources/card-xmen.jpg);
    background-position:center;
    background-size:contain;
    background-repeat: repeat;
}
.card-boba {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url(../resources/card-boba.jpg);
    background-position:center;
    background-size: contain;
    background-repeat: repeat;
}

.card-venom {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    background-image: url(../resources/card-venom.jpg);
    background-position:center;
    background-size:contain;
    background-repeat: repeat;
}

.card-mandalorian {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    background-image: url(../resources/card-mandalorian.jpg);
    background-position:center;
    background-size:contain;
    background-repeat: repeat;
}
.card-spider {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    background-image: url(../resources/card-spider.jpg);
    background-position:center;
    background-size: contain;
    background-repeat: repeat;
}
.card {
    border:solid #deb928 3px
}

.titles {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin: 35px 0 0 0 ;
    width: 94vw;
    height: 20vh;
}
.galery-titles {
    font-size: 30px;
}
/* Galeria grids */
.galery__grid {
    display: grid;
    width: 96vw;
    height: 40vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "card-catalogue card-collections card-news"
                        "card-catalogue card-collections card-news";
    column-gap: 25px;
    margin: 0 0 70px 30px;
}

.card-catalogue {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url(../resources/catalogo.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}
/* transformacion de card 1 */
.card-catalogue:hover{
    transform: scale(1.15, 1.15);
    transition: all 1s;
}
.card-collection {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url(../resources/collection.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* transformacion de card 2 */
.card-collection:hover{
    transform: scale(1.15, 1.15);
    transition: all 1s;
}
.card-news {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url(../resources/news.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 30px 0 0;
}
/* transformacion de card 3 */
.card-news:hover{
    transform: scale(1.15, 1.15);
    transition: all 1s;
}
.card-galery {
    border: solid #3b3a36 8px;
}
.galery-titles {
    text-align:center;
}
.galery-text {
    text-align:center;
    font-size: 21px;
}

/* Pagina productos */
.section__comics {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin: 0 0 0 15px;
}
.section__cosplay {
    margin: 0 0 0 15px;
}
.img-medium {
    height: 40vh;
    width: 32vw;
    padding: 10px 10px 10px 10px;
    background-color: #3b3a36;
}
.img-small {
    height: 32vh;
    width: 32vw;
    padding: 10px 10px 10px 10px;
    background-color:#3b3a36;
}
.img__cosplay {
    width: 464px;
    height: 546px;
    background-color:#3b3a36;
    padding: 10px 10px 10px 10px;
}
.img__shirt {
    width: 464px;
    height: 464px;
    background-color:#3b3a36;
    padding: 10px 10px 10px 10px;
}
.products__selection {
    margin: 0 800px 0 15px;
}
/* Pagina - coleccionable */
.section__collect {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}
.video__collect {
    background-color:#242320;
    padding: 10px 10px 10px 10px;
}
/* Pagina-nosotros */
.section__we {
    display: flex;
    flex-direction: row;
    align-content: center;
}
.image__we {
    background-color:#3b3a36;
    width: 1080px;
    height: 520px;
    padding: 10px 10px 10px 10px;
    margin: 0 0 30px 0;
}
/* Pagina - Login */
.input__login {
    margin: 0 0 0 20px;
}
.input__submit {
    margin: 0 0 0 20px;
}
.login__grids {
    display: grid;
    width: auto;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "batsignal batsignal batsignal batsignal"
                        "batsignal batsignal batsignal batsignal"
                        "batmancard-login batmancard-login batmancard-login batmancard-login"
                        "batmancard-login batmancard-login batmancard-login batmancard-login";
}
.batsignal{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url(../resources/batsignal.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
}
.batmancard-login{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    background-image: url(../resources/batmancard-login.jpg);
    background-position: center;
    background-size:contain;
    background-repeat: repeat;
}
.login__user{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 180px 0 0 0;
}
.login__password{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.login__button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}
.forms__list{
    list-style: none;
}
.list__font{
    font-size: 25px;
}
/* Pagina - contacto */
.contact__grids {
    display: grid;
    width: auto;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "batsignal batsignal batsignal batsignal"
                        "batsignal batsignal batsignal batsignal"
                        "batmancard-login batmancard-login batmancard-login batmancard-login"
                        "batmancard-login batmancard-login batmancard-login batmancard-login";
}
.contact__label{
    color: #242320;
}
/* Etiquetas comunes */
h1 {
    font-family: 'Prompt', sans-serif;
    color:#deb928;
    font-size: 48px;
    margin: 0 0 0 20px;
}
h2 {
    font-family: 'Prompt', sans-serif;
    color:#cfaf34;
    font-size: 30px;
}
p {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    color:#cfaf34;
    text-align:left;
}
.text__galery {
    margin: 0 0 0 55px;
}
div {
    font-size: 16px;
}
label {
    color: #deb928;
    font-family: 'Space Grotesk', sans-serif;
}
.input__name {
    margin: 0 0 0 35px;
}
.input__email {
    margin: 0 0 0 54px
}
.input__button {
    margin: 0 0 0 20px;
}
.btn {
    background-color: #deb928;
    border: #deb928;
}
.btn-primary {
    color: #242320;
    font-size: 15px;
}
h2{
    margin: 0 0 0 20px;
}
p{
    margin: 0 0 0 20px;
}
/* Footer - redes sociales */
footer {
    background-color:#cfaf34;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer__smedia {
    color:#242320;
    font-size: 20px;
    margin: 15px 25px 15px 0;
}
.social__media {
    width: 40px;
    height: 40px;
    margin: 10px 0 15px 0;
}
/* Media querie mobile */
@media (min-width:320px) and (max-width:575px) {
/* Media querie index */
.main__title {
    font-size: 35px;
}
.welcome__grid {
    height: 50vh;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 0 0 0 0;
}
.card-spider {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-size: cover;
}
.card-boba {
display: none;
}
.card-venom {
display: none;
}
.card-batman {
display:none;
}
.card-crypt {
display: none;
}

.card-mandalorian {
display: none;
}

.card-xmen {
display: none;
}
.card-marvel {
display: none;
}
/* Galeria grids index*/
.galery__grid {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 25vh;
    margin: 0 0 20px 50px;
}
.card-catalogue {
    width: 80vw;
    height: 100vh;
}
.card-collection {
    width: 80vw;
    height: 100vh;
}
.card-news {
    width: 80vw;
    height: 100vh;
}
.card-galery {
    border: solid #3b3a36 2px;
}
.titles {
    flex-direction: column;
    align-self: center;
    justify-content:space-evenly;
    width: 90vw;
    height: 60vh;
    margin: 0 0 10px 0;
}
.galery-text {
    text-align:center;
}
.header__nav {
flex-direction: column;
align-items: center;
}
.img__mobile {
    width: fit-content;
    height: fit-content;
}
.footer__icons {
    display: flex;
    flex-direction: row;
    margin: 0 10px 0 0;
}
.ocultar{
    display: none;
}
.footer__smedia {
    font-size: 20px;
    align-self: center;
    margin: 0 0 0 15px;
}
p {
    font-size: 20px;
    text-align:center;
}

/* media querie login */
h1 {
    margin:0;
}
.input__login {
    margin: 0 0 0 20px;
}
.input__submit {
    margin: 0 0 0 20px;
}
.login__text{
    text-align: center;
}
.login__grids {
    width: auto;
    height: 80vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "batsignal batsignal batsignal batsignal"
                        "batsignal batsignal batsignal batsignal"
                        "batmancard-login batmancard-login batmancard-login batmancard-login"
                        "batmancard-login batmancard-login batmancard-login batmancard-login";
}
.batsignal{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.batmancard-login{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end:5;
}
/* Media querie contacto */
h1 {
    margin:0;
}
.contact__text{
    text-align: center;
}
.contact__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px 0 0 0;
    height: 15vh;
}
.contact__grids {
    width: auto;
    height: 80vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "batsignal batsignal batsignal batsignal"
                        "batsignal batsignal batsignal batsignal"
                        "batmancard-login batmancard-login batmancard-login batmancard-login"
                        "batmancard-login batmancard-login batmancard-login batmancard-login";
}
.batsignal{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.batmancard-login{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end:5;
}
/* Media querie productos */
.section__comics {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.section__cosplay {
    margin: 0 0 0 15px;
}
.img-medium {
    height: 35vh;
    width: 90vw;
    padding: 10px 10px 10px 10px;
    background-color: #3b3a36;
}
.img-small {
    height: 35vh;
    width: 90vw;
    padding: 10px 10px 10px 10px;
    background-color:#3b3a36;
}
.img__cosplay {
    height: 65vh;
    width: 90vw;
    background-color:#3b3a36;
    padding: 10px 10px 10px 10px;
}
.img__shirt {
    height: 60vh;
    width: 90vw;
    background-color:#3b3a36;
    padding: 10px 10px 10px 10px;
}
.products__selection {
    margin: 0 800px 0 15px;
}
.label__products{
    width: 100vw;
    font-size: 20px;
}
.form__products{
    width: 80vw;
    margin: 5px 0 5px 0;
    font-size: 20px;
}
}
/* Media querie tablet */
@media (min-width: 576px) and (max-width: 992px) {
.main__title {
    font-size: 30px;
}
.welcome__grid {
    height: 120vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 4px;
}
.card-marvel {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-size: cover;
}
.card-crypt {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-size:cover;
}
.card-batman {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-size:cover;
    background-position: top;
}
.card-xmen {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-size:cover;
    background-position: top;
}
.card-boba {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    background-size:cover;
    background-position: top;
}
.card-venom {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-size:cover;
    background-position:top;
}

.card-mandalorian {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    background-size:cover;
    background-position:top;
}
.card-spider {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    background-size:cover;
    background-position:top;
}
/* Galeria grids*/
.galery__grid {
    width: 80vw;
    margin: 0 0 5px 58px;
}
.card-catalogue {
    width: 27vw;
    height: 25vh;
}
.card-collection {
    width: 27vw;
    height: 25vh;
}
.card-news {
    width: 27vw;
    height: 25vh;
}
.card-galery {
    border: solid #3b3a36 5px;
}
.titles {
    flex-direction: row;
    align-self: center;
    width: 90vw;
    height: 30vh;
}
.galery-text {
    text-align:center;
}
.header__nav {
    flex-direction: column;
align-items: center;
}
.header__item a {
    font-size: 25px;
}
.img__mobile {
    width:fit-content;
    height:fit-content;
}
.footer__icons {
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.footer__smedia {
    font-size: 25px;
    align-self: center;
}
.social__media {
    width: 50px;
    height: 50px;
}
p {
    font-size: 20px;
    text-align:center;
}
/* Login */
.input__login {
    margin: 0 0 0 20px;
}
.input__submit {
    margin: 0 0 0 20px;
}
.login__text{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.login__grids {
    width: auto;
    height: 80vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "batsignal batsignal batsignal batsignal"
                        "batsignal batsignal batsignal batsignal"
                        "batmancard-login batmancard-login batmancard-login batmancard-login"
                        "batmancard-login batmancard-login batmancard-login batmancard-login";
}
.batsignal{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.batmancard-login{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end:5;
}
}