/* Pagina - coleccionable */
.collect {
    display: grid;
    width:auto;
    max-width: 1250px;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "hot-toys marvel-toys sw-toys"
                        "funko spidercosplay simpsons";
    column-gap: 25px;
    row-gap: 30px;
    margin: 100px 10px 20px 10px;
    align-self: center;
    &__text{
        text-align: center;
        margin: 10px 25px 0 25px;
    }
    &__title{
        text-align: center;
        margin: 20px 0 20px 0;
    }
    &__main{
    height: 250vh;
    max-height: 960px;
    }  
}
.collect__video{
    max-width: 315px;
}
.hot-toys{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color:#3b3a36;
    border:$main-color solid 5px;
    border-radius: 3%;
    width: min-content;
    height:33vh;
    min-height: 265px;
    max-height: 265px;
}
.marvel-toys{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color:#3b3a36;
    border:$main-color solid 5px;
    border-radius: 3%;
    width: min-content;
    height:33vh;
    min-height: 265px;
    max-height: 265px;
}
.sw-toys{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color:#3b3a36;
    border:$main-color solid 5px;
    border-radius: 3%;
    width: min-content;
    height:33vh;
    min-height: 265px;
    max-height: 265px;
}
.funko{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color:#3b3a36;
    border:$main-color solid 5px;
    border-radius: 3%;
    width: min-content;
    height:33vh;
    min-height: 265px;
    max-height: 265px;
}
.spidercosplay{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color:#3b3a36;
    border:$main-color solid 5px;
    border-radius: 3%;
    width: min-content;
    height:33vh;
    min-height: 265px;
    max-height: 265px;
}
.simpsons{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color:#3b3a36;
    border:$main-color solid 5px;
    border-radius: 3%;
    width: min-content;
    height:33vh;
    min-height: 265px;
    max-height: 265px;
}
