/* Extend */
.card-marvel {
    background-size:contain;
    background-position: center;
    background-repeat: repeat;
}
.card-catalogue{
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}