/* Pagina productos */
.buy-card{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
}
.price{
    font-size: 20px;
    margin: 0 5px 0 0;
}
.products__title {
    text-align: center;
    margin: 20px 0 0 0;
}
.products__subtitles{
    margin: 0 0 0 150px;
}
.title{
    color: $main-color;
}
.comics__grid {
    display: grid;
    width: 75vw;
    height: 58vh;
    max-height: 380px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "comic-spiderman comics-xmen comic-mandalorian comic-batman comic-boba";
    column-gap: 25px;
    align-self: center;
    margin: 20px 20px 20px 0;
}

.comic-spiderman{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url(../resources/card-spider.jpg);
    background-color:#3b3a36;
    background-size: contain;
    background-position:top;
    background-repeat: no-repeat;
    border: #3b3a36 solid 5px;
    border-radius: 3%;
}
.comic-xmen{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url(../resources/card-xmen.jpg);
    background-color:#3b3a36;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    border: #3b3a36 solid 5px;
    border-radius: 3%;
}
.comic-mandalorian{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url(../resources/card-mandalorian.jpg);
    background-color:#3b3a36;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    border: #3b3a36 solid 5px;
    border-radius: 3%;
}

.comic-batman{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url(../resources/card-batman.jpg);
    background-color:#3b3a36;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    border: #3b3a36 solid 5px;
    border-radius: 3%;
}

.comic-boba{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url(../resources/card-boba.jpg);
    background-color:#3b3a36;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    border: #3b3a36 solid 5px;
    border-radius: 3%;
}

.toys__grid{
        display: grid;
        width: 75vw;
        height: 60vh;
        max-height: 360px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "productos-1 productos-2 productos-3 productos-4";
        column-gap: 25px;
        align-self: center;
        margin: 20px 20px 20px 0;
}

.productos-1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url(../resources/productos-1.jpg);
    background-color: #3b3a36;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    border:#3b3a36 solid 5px;
    border-radius: 3%;
}

.productos-2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url(../resources/productos-2.jpg);
    background-color: #3b3a36;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    border:#3b3a36 solid 5px;
    border-radius: 3%;
}

.productos-3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url(../resources/productos-3.jpg);
    background-color: #3b3a36;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    border:#3b3a36 solid 5px;
    border-radius: 3%;
}

.productos-4{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url(../resources/productos-4.jpg);
    background-color: #3b3a36;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    border:#3b3a36 solid 5px;
    border-radius: 3%;
}
.tshirt__grid{
    display: grid;
    width: 75vw;
    height: 53vh;
    max-height: 330px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "star-wars x-files cobra-kai spiderman";
    column-gap: 25px;
    align-self: center;
    margin: 20px 20px 20px 0;
}

.star-wars{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url(../resources/remera-starwars.jpg);
    background-color:#3b3a36;
    background-size: contain;
    background-position:ctop;
    background-repeat: no-repeat;
    border:#3b3a36 solid 5px;
    border-radius: 3%;
}

.x-files{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url(../resources/remera-xfiles.jpg);
    background-color:#3b3a36;
    background-size: contain;
    background-position:top;
    background-repeat: no-repeat;
    border:#3b3a36 solid 5px;
    border-radius: 3%;
}

.cobra-kai{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url(../resources/remera-cobrakai.jpg);
    background-color:#3b3a36;
    background-size: contain;
    background-position:top;
    background-repeat: no-repeat;
    border:#3b3a36 solid 5px;
    border-radius: 3%;
}
.spiderman{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url(../resources/remera-spiderman.jpg);
    background-color:#3b3a36;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    border:#3b3a36 solid 5px;
    border-radius: 3%;
}

.products__selection {
    margin: 0 650px 0 95px;
}